{% extends generic_layout %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Biography'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Biography'|trans }}{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ app.request_stack.currentrequest.basepath }}/js/redactor/css/redactor.css" />
{% endblock %}
{% block script_additional %}
	<script src="{{ app.request_stack.currentrequest.basepath }}/js/redactor/redactor.min.js"></script>
	<script type="text/javascript">
		$(function()
		{
			$('.redactor').redactor({
				autoresize: false,
				minHeight: 300,
				buttons: ['html', '|', 'bold', 'italic', 'deleted', 'underline', '|',
				'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
				'image', 'video', 'file', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignment', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule']
			});
			
			$("select#{{ form.language.vars.id }}").change(function() {
				$.ajax({
					type: "GET",
					url: "{{ path('get_countries_by_language') }}",
					data: { "locale" : $(this).val() },
					success: function(data)
					{
						$("select#{{ form.country.vars.id }}").empty();
						$("select#{{ form.country.vars.id }}").append('<option value="" selected="selected">{{ 'main.field.ChooseAnOption'|trans }}</option>');
						
						for (var i = 0; i < data.length; i++) {
							$("select#{{ form.country.vars.id }}").append('<option value="'+ data[i].id +'">'+ data[i].name +'</option>');
							console.log(data[i]);
						}
					}
				});
			});
		});
	</script>
{% endblock %}

{% block main_content %}
{% form_theme form 'Form/fields.html.twig' %}
{{ form_start(form, {'method' : 'post', 'action' : path('biographyadmin_create'), 'attr': {'novalidate': 'novalidate'} }) }}
	{% include "Biography/_form.html.twig" with {'form' : form} %}
{{ form_end(form) }}

{% endblock %}