{% extends generic_layout %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Poem'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Poem'|trans }}{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ app.request_stack.currentrequest.basepath }}/js/jquery.ajax-combobox-master/dist/jquery.ajax-combobox.css" media="screen" />
{% endblock %}

{% block script_additional %}
	<script src="{{ app.request_stack.currentrequest.basepath }}/js/jquery.ajax-combobox-master/dist/jquery.ajax-combobox.js"></script>
	<script src="{{ app.request_stack.currentrequest.basepath }}/js/combobox.js"></script>
	{% import "Index/macro.html.twig" as macro %}
	{{ macro.redactor() }}
	<script type="text/javascript">
		$(function()
		{
			$('#poem_authorType').change(function()
			{
				if($(this).val() == "user")
				{
					$("tr.user_row").show();
					$("tr.biography_row").hide();
					$("select#poem_biography").val("");
				}
				else
				{
					$("tr.user_row").hide();
					$("tr.biography_row").show();
					$("select#poem_user").val("");
				}
			});
			$('#poem_authorType').change();
			
			$("input#poem_unknownReleasedDate").click(function()
			{
				if($(this).is(":checked"))
					$("#poem_releasedDate").val("");
			});
			$("input#poem_unknownReleasedDate").click();
			
			$("input#poem_releasedDate").keyup(function()
			{
				if($(this).val() != "")
					$("input#poem_unknownReleasedDate").prop('checked', false);
				else
					$("input#poem_unknownReleasedDate").prop('checked', true);
			});
			$("input#poem_releasedDate").keyup();
			
			function changeBiography(val)
			{
				$.ajax({
					type: "POST",
					url: "{{ path('list_selected_biography') }}",
					data: { "id" : val },
					success: function(data)
					{
						if(data.country != "")
							$("td.poem-country").html('<img src="{{ app.request_stack.currentrequest.basepath }}/photo/country/'+ data.country.flag +'" class="flag" />' + ' ' + data.country.title);
						else
							$("td.poem-country").html("-");

						var collections = data.collections;

						$("#{{ form.collection.vars.id }} option").remove();
						$("#{{ form.collection.vars.id }}").append('<option value="">{{ 'main.field.ChooseAnOption'|trans }}</option>');

						if(collections != "")
						{
							$.each(collections, function(index, element)
							{
								$("#{{ form.collection.vars.id }}").append('<option value="'+ element.id +'">'+ element.title +'</option>');
							});
							{% set collection = app.request_stack.currentrequest.get('collectionId') %}
							{% if collection is not null %}
								$("#{{ form.collection.vars.id }}").val("{{ collection }}");
							{% endif %}
						}
					}
				});
			}
			
			changeBiography($("#{{ form.biography.vars.id }}").val());

			$("#{{ form.collection.vars.id }}").change(function()
			{
				$.ajax({
					type: "POST",
					url: "{{ path('list_selected_collection') }}",
					data: { "id" : $(this).val() },
					success: function(data)
					{
						$("#{{ form.releasedDate.vars.id }}").val(data.releasedDate);

						if(data.releasedDate != null)
							$('input#poem_unknownReleasedDate').attr('checked', false);
						else
							$('input#poem_unknownReleasedDate').attr('checked', true);
					}
				});
			});
			
			$("#{{ form.collection.vars.id }}").change();
			
			$("#{{ form.poeticform.vars.id }}").change(function()
			{
				$.ajax({
					type: "POST",
					url: "{{ path('select_poeticform') }}",
					data: { "id" : $(this).val() },
					success: function(data)
					{
						if(data.typeContentPoem == "{{ constant('Poeticus\\Entity\\PoeticForm::IMAGETYPE') }}") {
							$("#text_container").hide();
							$("#photo_container").show();
						}
						else {
							$("#text_container").show();
							$("#photo_container").hide();
						}
					}
				});
			});
			
			$("#{{ form.poeticform.vars.id }}").change();
			
			$("select#{{ form.language.vars.id }}").change(function() {
				var input = $(".container_{{ form.vars['id'] }}_biography > .input-group > input[type='hidden']");
				$(input[0]).addClass('combobox full_width form-control').attr("type", "text").val("");
				$(".container_{{ form.vars['id'] }}_biography").parent().append(input[0]);
				$(".container_{{ form.vars['id'] }}_biography").remove();
				setComboboxNew('{{ path("poemadmin_getbiographiesbyajax") }}?locale=' + $(this).val(), 'biography', "#{{ form.biography.vars.id }}", changeBiography);
			
				$.ajax({
					type: "GET",
					url: "{{ path('get_poeticforms_by_language') }}",
					data: { "locale" : $(this).val() },
					success: function(data)
					{
						$("select#{{ form.poeticform.vars.id }}").empty();
						$("select#{{ form.poeticform.vars.id }}").append('<option value="" selected="selected">{{ 'main.field.ChooseAnOption'|trans }}</option>');
						
						for (var i = 0; i < data.length; i++) {
							$("select#{{ form.poeticform.vars.id }}").append('<option value="'+ data[i].id +'">'+ data[i].name +'</option>');
						}
					}
				});
			});
			
			$("select#{{ form.language.vars.id }}").change();
		});
	</script>
{% endblock %}

{% block main_content %}
{% form_theme form 'Form/fields.html.twig' %}

{{ form_start(form, {'method' : 'post', 'action' : path('poemadmin_create'), 'attr': {'novalidate': 'novalidate'} }) }}
	{% include "Poem/_form.html.twig" with {'form': form} %}
{{ form_end(form) }}

{% endblock %}