{% extends generic_layout %}

{% block head_title %}Admin Poésie{% endblock %}
{% block main_title %}Administration - Poésie{% endblock %}

{% block script_additional %}
	<script type="text/javascript">
		$(function()
		{
			$('.authorType_select').change(function()
			{
				if($(this).val() == "user")
				{
					$("tr.user_row").show();
					$("tr.biography_row").hide();
					$("select#poem_biography").val("");
				}
				else
				{
					$("tr.user_row").hide();
					$("tr.biography_row").show();
					$("select#poem_user").val("");
				}
			});
			$('.authorType_select').change();
			
			$("input#poem_unknownReleasedDate").click(function()
			{
				if($(this).is(":checked"))
					$("#poem_releasedDate").val("");
			});
			$("input#poem_unknownReleasedDate").click();
			
			$("input#poem_releasedDate").keyup(function()
			{
				if($(this).val() != "")
					$("input#poem_unknownReleasedDate").prop('checked', false);
				else
					$("input#poem_unknownReleasedDate").prop('checked', true);
			});
			$("input#poem_releasedDate").keyup();
			
			$("#{{ form.vars['id'] }}_biography").change(function()
			{
				$.ajax({
					type: "POST",
					url: "{{ path('list_selected_biography') }}",
					data: { "id" : $(this).val() },
					success: function(data)
					{
						$("#{{ form.vars['id'] }}_country").val(data.country);
						var collections = data.collections;
						$("#{{form.vars['id'] }}_collection option").remove();
						$("#{{form.vars['id'] }}_collection").append('<option value="">Choisissez une option</option>');
						$.each(collections, function(index, element)
						{
							$("#{{form.vars['id'] }}_collection").append('<option value="'+ element.id +'">'+ element.title +'</option>');
						});
					}
				});
			});
			
			$("#{{ form.vars['id'] }}_collection").change(function()
			{
				$.ajax({
					type: "POST",
					url: "{{ path('list_selected_collection') }}",
					data: { "id" : $(this).val() },
					success: function(data)
					{
						$("#{{ form.vars['id'] }}_releasedDate").val(data.releasedDate);
						
						if(data.releasedDate != "")
							$('input#poem_unknownReleasedDate').attr('checked', false);
						else
							$('input#poem_unknownReleasedDate').attr('checked', true);
					}
				});
			});
		});
	</script>
{% endblock %}

{% block main_content %}
<form action="{{ path('poemadmin_create') }}" method="post" {{ form_enctype(form) }} novalidate>
	<table class="form_grid">
		<tr>
			<th>{{ form_label(form.title) }}</th>
			<td><div class="errors">{{ form_errors(form.title) }}</div>{{ form_widget(form.title, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.text) }}</th>
			<td><div class="errors">{{ form_errors(form.text) }}</div>{{ form_widget(form.text, { 'attr' : { 'class' : 'text' }}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.poeticform) }}</th>
			<td><div class="errors">{{ form_errors(form.poeticform) }}</div>{{ form_widget(form.poeticform, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.authorType) }}</th>
			<td><div class="errors">{{ form_errors(form.authorType) }}</div>{{ form_widget(form.authorType, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr class="user_row">
			<th>{{ form_label(form.user) }}</th>
			<td><div class="errors">{{ form_errors(form.user) }}</div>{{ form_widget(form.user, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr class="biography_row">
			<th>{{ form_label(form.biography) }}</th>
			<td><div class="errors">{{ form_errors(form.biography) }}</div>{{ form_widget(form.biography, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.country) }}</th>
			<td><div class="errors">{{ form_errors(form.country) }}</div>{{ form_widget(form.country, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.collection) }}</th>
			<td><div class="errors">{{ form_errors(form.collection) }}</div>{{ form_widget(form.collection, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.releasedDate) }}</th>
			<td><div class="errors">{{ form_errors(form.releasedDate) }}</div>{{ form_widget(form.releasedDate) }}{{ form_widget(form.unknownReleasedDate) }}{{ form_label(form.unknownReleasedDate) }}</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save) }}
	{{ form_rest(form) }}
</form>

{% endblock %}