{% extends generic_layout %}

{% block head_title %}Admin Poésie{% endblock %}
{% block main_title %}Administration - Poésie{% endblock %}

{% block main_content %}
	<table>
		<tr>
			<th>Titre</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>Texte</th>
			<td>{{ entity.text|raw }}</td>
		</tr>
		<tr>
			<th>Date de publication</th>
			<td>{{ entity.releasedDate }}</td>
		</tr>
		<tr>
			<th>Forme poétique</th>
			<td>{{ entity.poeticform|toString('title') }}</td>
		</tr>
		<tr>
			<th>Auteur</th>
			<td>{{ entity.biography|toString('title') }}</td>
		</tr>
		<tr>
			<th>Pays</th>
			<td>{{ entity.country|toString('title') }}</td>
		</tr>
		<tr>
			<th>Recueil</th>
			<td>{{ entity.collection|toString('title') }}</td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('poemadmin_edit', { 'id' : entity.id }) }}">Modifier</a> - <a href="{{ path('poemadmin_new') }}">Créer</a> - <a href="{{ path('poemadmin_newfast') }}" alt="">Création rapide</a>
{% endblock %}