{% extends generic_layout %}

{% block head_title %}Admin Poésie{% endblock %}
{% block main_title %}Administration - Poésie{% endblock %}

{% block main_content %}
	<table class="admin_show">
		<tr>
			<th>Titre</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>Texte</th>
			<td>
			{% if entity.poeticform is not null and entity.poeticform.typeContentPoem == constant('Poeticus\\Entity\\PoeticForm::IMAGETYPE') %}
				{{ ("photo/poem/"~entity.photo)|max_size_image(app.request.basepath) }}
			{% else %}
				{{ entity.text|raw }}
			{% endif %}
			</td>
		</tr>
		<tr>
			<th>Date de publication</th>
			<td>{{ entity.releasedDate }}</td>
		</tr>
		<tr>
			<th>Forme poétique</th>
			<td>{{ entity.poeticform|toString('title') }}</td>
		</tr>
		<tr>
			<th>Auteur</th>
			<td>{{ entity.biography|toString('title') }}</td>
		</tr>
		<tr>
			<th>Pays</th>
			<td>{{ entity.country|toString('title') }}</td>
		</tr>
		<tr>
			<th>Recueil</th>
			<td>{{ entity.collection|toString('title') }}</td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('poemadmin_edit', { 'id' : entity.id }) }}"><i class="fa fa-edit"></i> Modifier</a> - <a href="{{ path('poemadmin_new') }}"><i class="fa fa-plus-square"></i> Créer</a> - <a href="{{ path('poemadmin_newfast') }}" alt=""><i class="fa fa-paper-plane"></i> Création rapide</a>
{% endblock %}