{% extends generic_layout %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.PoeticForm'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.PoeticForm'|trans }}{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ app.request_stack.currentrequest.basepath }}/js/redactor/css/redactor.css" />
{% endblock %}
{% block script_additional %}
	<script src="{{ app.request_stack.currentrequest.basepath }}/js/redactor/redactor.min.js"></script>
	<script type="text/javascript">
		$(function()
		{
			$('.redactor').redactor({
				{% if block('uploadfile_wysiwyg_route') is not empty %}
					imageUpload: '{{ block('uploadfile_wysiwyg_route') }}',
				{% endif %}
				autoresize: false,
				minHeight: 300,
				buttons: ['html', '|', 'bold', 'italic', 'deleted', 'underline', '|',
				'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
				'image', 'video', 'file', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignment', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule']
			});
		});
	</script>
{% endblock %}

{% block main_content %}
{% form_theme form 'Form/fields.html.twig' %}

{{ form_start(form, {'method' : 'post', 'action' : path('poeticformadmin_create'), 'attr': {'novalidate': 'novalidate'} }) }}
<table class="form_grid">
		<tr>
			<th>{{ form_label(form.title) }}</th>
			<td><div class="errors">{{ form_errors(form.title) }}</div>{{ form_widget(form.title, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.text) }}</th>
			<td><div class="errors">{{ form_errors(form.text) }}</div>{{ form_widget(form.text) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.image) }}</th>
			<td><div class="errors">{{ form_errors(form.image) }}</div>{{ form_widget(form.image) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.typeContentPoem) }}</th>
			<td><div class="errors">{{ form_errors(form.typeContentPoem) }}</div>{{ form_widget(form.typeContentPoem, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.language) }}</th>
			<td><div class="errors">{{ form_errors(form.language) }}</div>{{ form_widget(form.language, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save, {'icon': 'fa-save'}) }}
	{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}