{% extends generic_layout %}

{% block head_title %}Admin Forme Poétique{% endblock %}
{% block main_title %}Administration - Forme Poétique{% endblock %}

{% block main_content %}
	<table class="admin_show">
		<tr>
			<th>Titre</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>Texte</th>
			<td>{{ entity.text|raw }}</td>
		</tr>
		<tr>
			<th>Image</th>
			<td><img src="{{ app.request.basepath }}/photo/poeticform/{{ entity.image }}" alt="" /></td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('poeticformadmin_edit', { 'id' : entity.id }) }}"><i class="fa fa-edit"></i> Modifier</a> - <a href="{{ path('poeticformadmin_new') }}"><i class="fa fa-plus-square"></i> Créer</a>
{% endblock %}