{% extends generic_layout %}

{% block head_title %}Modification - Mot de passe{% endblock %}
{% block main_title %}Modifier mon mot de passe{% endblock %}

{% block main_content %}
<form action="{{ path('user_updatepasswordsave') }}" method="post" {{ form_enctype(form) }} novalidate>
	<table class="form_grid">
		<tr>
			<th>{{ form_label(form.password) }}</th>
			<td><div class="errors">{{ form_errors(form.password.first) }}</div>{{ form_widget(form.password.first) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.password.second) }}</th>
			<td><div class="errors">{{ form_errors(form.password.second) }}</div>{{ form_widget(form.password.second) }}</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save) }}
	{{ form_rest(form) }}
</form>
{% endblock %}