{% extends generic_layout %}

{% block head_title %}Admin Recueil{% endblock %}
{% block main_title %}Administration - Recueil{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/redactor/css/redactor.css" />
{% endblock %}
{% block script_additional %}
	<script src="{{ app.request.basepath }}/js/redactor/redactor.min.js"></script>
	<script type="text/javascript">
		$(function()
		{
			$('.redactor').redactor({
				autoresize: false,
				minHeight: 300,
				buttons: ['html', '|', 'bold', 'italic', 'deleted', 'underline', '|',
				'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
				'image', 'video', 'file', 'table', 'link', '|', 'fontcolor', 'backcolor', '|', 'alignment', 'aligncenter', 'alignright', 'justify', '|', 'horizontalrule']
			});
			
			function putReleasedDate(value, load)
			{
				if(value != "")
					$("input#{{ form.vars['id'] }}_unknownReleasedDate").prop('checked', false);
				else
					$("input#{{ form.vars['id'] }}_unknownReleasedDate").prop('checked', true);
			}
			
			$("input#{{ form.vars['id'] }}_unknownReleasedDate").click(function()
			{
				if($(this).is(":checked"))
					$("#{{ form.vars['id'] }}_releasedDate").val("");
			});
			
			$("input#{{ form.vars['id'] }}_releasedDate").keyup(function()
			{
				putReleasedDate($(this).val(), false);
			});
			putReleasedDate("{{ entity.releasedDate }}", true);

		});
	</script>
{% endblock %}

{% block main_content %}
<form action="{{ path('collectionadmin_update', {'id' : entity.id }) }}" method="post" {{ form_enctype(form) }} novalidate>
<table class="form_grid">
		<tr>
			<th>{{ form_label(form.title) }}</th>
			<td><div class="errors">{{ form_errors(form.title) }}</div>{{ form_widget(form.title, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.text) }}</th>
			<td><div class="errors">{{ form_errors(form.text) }}</div>{{ form_widget(form.text) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.releasedDate) }}</th>
			<td><div class="errors">{{ form_errors(form.releasedDate) }}</div>{{ form_widget(form.releasedDate, {'attr':{'class':'year'}}) }} {{ form_widget(form.unknownReleasedDate) }} {{ form_label(form.unknownReleasedDate) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.image) }}</th>
			<td><p>Photo actuelle : {{ entity.image }}</p><div class="errors">{{ form_errors(form.image) }}</div>{{ form_widget(form.image) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.biography) }}</th>
			<td><div class="errors">{{ form_errors(form.biography) }}</div>{{ form_widget(form.biography, {'attr':{'class':'full_width'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.widgetProduct) }}</th>
			<td><div class="errors">{{ form_errors(form.widgetProduct) }}</div>{{ form_widget(form.widgetProduct, {'attr':{'class':'text'}}) }}</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save) }}
	{{ form_rest(form) }}
</form>

{% endblock %}