{% extends generic_layout %}

{% block head_title %}Admin Recueil{% endblock %}
{% block main_title %}Administration - Recueil{% endblock %}

{% block main_content %}
	<table class="admin_show">
		<tr>
			<th>Titre</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>Texte</th>
			<td>{{ entity.text|raw }}</td>
		</tr>
		<tr>
			<th>Date de publication</th>
			<td>{{ entity.releasedDate }}</td>
		</tr>
		<tr>
			<th>Image</th>
			<td><p class="center">{{ ("photo/collection/"~entity.image)|max_size_image(app.request.basepath) }}</p></td>
		</tr>
		<tr>
			<th>Auteur</th>
			<td>{{ entity.biography|toString('title') }}</td>
		</tr>
		<tr>
			<th>Code produit</th>
			<td>{{ entity.widgetProduct|raw }}</td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('collectionadmin_edit', { 'id' : entity.id }) }}"><i class="fa fa-edit"></i> Modifier</a> - <a href="{{ path('collectionadmin_new') }}"><i class="fa fa-plus-square"></i> Créer</a>
{% endblock %}