<table id="poem_statistics">
	<tbody>
		<tr>
			<td><span class="bold">{{ 'menu.left.NumberOfPublishedPoems'|trans }}</span></td><td>{{ statistics["count_poem"] }}</td>
		</tr>
		<tr>
			<td><span class="bold">{{ 'menu.left.TotalAuthors'|trans }}</span></td><td>{{ statistics["count_biography"] }}</td>
		</tr>
		<tr>
			<td><span class="bold">{{ 'menu.left.NumberOfBooks'|trans }}</span></td><td>{{ statistics["count_collection"] }}</td>
		</tr>
	</tbody>
</table>